@inherits LayoutComponentBase


<PageTitle>OrgChamp</PageTitle>

<MudThemeProvider Theme="CustomTheme"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Dense>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        OrgChamp
        <AuthorizeView>
            <Authorized>
                <MudSpacer />
                <MudMenu Icon="@Icons.Material.Filled.Person" Variant="Variant.Outlined">
                    <MudMenuItem Href="/profile">Profile</MudMenuItem>
                    <MudMenuItem Href="/teams">Teams</MudMenuItem>
                    <MudMenuItem><a href="logout">Log out</a></MudMenuItem>
                </MudMenu>
            </Authorized>
            <NotAuthorized>

            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="@drawerOpen" ClipMode="DrawerClipMode.Docked">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private bool drawerOpen = true;

    private void DrawerToggle()
    {
        drawerOpen = !drawerOpen;
    }

    MudTheme CustomTheme = new MudTheme()
        {
            Palette = new Palette()
            {
                Tertiary = "#ffffff"
            }
        };
}